body {
    font-family: Arial, sans-serif;
    background-color:  #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
  }
  header, footer{
    text-align: center;
    background-color: #8a2be2;
    color: white;
    padding: 7px 0;
  }
  #container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 20px auto;
  }
  #film-menu {
    background-color: #8a2be2;
    color: white;
    padding: 20px;
  }
  #film-details {
     width: 70%;
     padding: 20px;
     text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  #poster {
    width: 300px;
    height: auto;
    max-height: 400px;
    object-fit: contain;
  }
  .film-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid white;
  }
  .sold-out {
    text-decoration: line-through;
    color: hotpink;
  }
  
  .film-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8a2be2; 
    color: white;
    cursor: pointer;
  }
  button:hover {
    background-color: purple; 
  }
  